body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.hero-section {
    display: flex;
    background-image: url(../Images/developer.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    /* max-width: 1200px; */
    padding: 0 7%;
    margin-bottom: 100px;
}

.orange {
    color: orange;
}



.half-width {
    width: 50%;
}

.half-width img {
    border: 7px solid rgba(255, 166, 0, 0.451);
    border-radius: 50%;
    max-width: 80%;
    margin-left: 40px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(140deg, orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.about-sect {
    display: flex;
    background-image: url(../Images/about-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences {
    display: flex;
    justify-content: space-between;
}

.experience-item {
    width: 45%;
    box-shadow: 5px 10px 40px gray;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 10px;
}

.full-stack-dev {
    border-left: 7px solid red;
}

.junior-dev {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}